<% stylesheet_link_tag 'index' %>
<h1 class="test">Hello World</h1>

<%= flash[:notice] %>

<%= form_with url: static_pages_path, method: :get do |f|%>

  <div><%= f.label :flickr_id, "Enter Your Flicker ID and See your images!" %>
    <%= f.text_field :flickr_id %></div>

  <%= f.submit 'See Now' %>
<% end %>

<% @list.each do |photo| %>
  <div>
    <%= image_tag("
https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_w.jpg") %>
  </div>
<% end %>

